/*Edit Navbar Name*/
.navbar-brand {
    background-color: mediumseagreen;
    color: white !important;
    font-weight: bold;
}

/*Set background image*/
body {
    background-image: url("../ignasi_pattern_s.png");
}

/*Change color of Contact*/
.text-green {
    color: mediumseagreen;
}

/*Change button color*/
.btn-success {
    color: #fff;
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}

/*Make border color green on the footer*/
.border-green {
    border-color: mediumseagreen !important;
    border-width: 2px;
}