/*Edit Navbar Name*/
.navbar-brand {
    background-color: mediumseagreen;
    color: white !important;
    font-weight: bold;
}

.text-green {
    color: mediumseagreen;
}

/*Set background image*/
body {
    background-image: url("../ignasi_pattern_s.png");
}

.border-green {
    border-color: mediumseagreen !important;
    border-width: 2px;
}




